@import "./styles/fonts.scss";
@import "./styles/mixins.scss";
@import "./styles/variables.scss";
@import "./styles/Header.scss";
@import "./styles/Footer.scss";
@import "./styles/Home.scss";
@import "./styles/Catering.scss";
@import "./styles/Mission.scss";
@import "./styles/Locations.scss";
@import "./styles/Menu.scss";
@import "./styles/NotFound.scss";
@import "./styles/Search.scss";
@import "./styles/Nutrition.scss";
@import "./styles/Contact.scss";
@import "./styles/FAQS.scss";
@import "./styles/Pickup&Delivery.scss";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{font-family: $font-branton; background-color: $bg-color;}
