#pickupdelivery{
    position: fixed;
    width: 500px;
    height: auto;
    padding-bottom: 10px;
    bottom: 0px;
    left: 50%;
    @include Flex("", center, end);
    margin-top: -100px;
    margin-left: -250px;  
    z-index: 2;
    a{
        @include button(13px, 100px, 40px, 16px);
        font-family: $font-vinyl;
        text-align: center;
        @media screen and(max-width: 375px){
            @include button(13px, 80px, 40px, 16px);
        }
    }
}